
@media only screen and (max-width: 700px) {
    .checkbox {
      display: block;
    }
  
    header {
      flex-direction: column;
      align-items: start;
      padding:0;
     
    }
  
    nav { display: block;
      width: 75%;
      padding:0;
  }
    
    nav ul {
      flex-direction: column;
      opacity: 0;
      text-align: right;
      display: none;
      width: 100%;
      margin-top: 40px;
      gap: 10px;
      
    }
    
  
    nav ul a {
      display: block;
    }
  
    input[type="checkbox"]:checked ~ nav ul {
      opacity: 100;
      display: flex;
    }
  
    .hamburger-lines {
      opacity: 100;
    }
    .titolo{margin-top:30px;
        margin-left: 20px;
        margin-right:50px;
       font-size: 26px;
       color:#FA9C04;}
       .trasm{margin-left: 20px;}
       .palinsesto{background-color: #E8E8E8;
        margin: 0px;
        padding:10px;
      text-align:left;}
        .par1{font-size: 20px;
            margin-left: 20px;
        font-weight: 300;
        }
        .click{ margin-left:10px;
           margin-top:20px;
            }
            .prima{ display: list-item;
                margin-left:10px;
                justify-content: space-between;
                margin-top: 90px;
                  }
               
                .button{
                  display: list-item;
                    margin-left:80px;
                    margin-right: 60px;
                margin-top: 0;
                list-style: none;
                }
                .button2{
                    position:absolute;
                        top:122%;
                        left:20%;}
                .button1{
                    position:absolute;
                    top:170%;
                    left:20%;}
                    .button3{ position:absolute;
                        top:218%;
                        left:16%;}
                .seconda{ display: list-item;
                     justify-content: space-between;
                  margin-top: 60px;}
                  .button4{  position:absolute;
                    top:276%;
                    left:24%; }
                    .button5{ position:absolute;
                        top:329%;
                        left:25%;}
                        .button6{ position:absolute;
                            top:375%;
                            left:25%; }
                            .info{display:flex;
                                padding-left: 10px;
                              width: 90%;
                              margin-left: 0px;
                              }
                           .via{ padding:0;
                          }
                          .call{margin-left: 0;}
                          .cell{text-align:start;
                          white-space: nowrap;}
                          .copy{margin-left:20px;}
                
    }